@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom class */
.blog {
  @apply border-4 text-xl bg-white p-4
}

.custom-btn {
  height: 48px;
  min-height: 48px;
  padding: 0 16px;
  background-color: rgb(25, 29, 36);
  background-image: linear-gradient(to right, rgb(99, 102, 241), rgb(55, 48, 163));
  border: 0;
  color: rgb(166, 173, 187);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 16px;
  transition-duration: 0.2s;
  /* Rounded corners */
  border-radius: 10px;
  /* Large value for fully rounded corners */
}

.custom-text {
  @apply inline-block bg-gradient-to-r from-indigo-500 to-indigo-800 bg-clip-text text-transparent
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
